<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8">
  <title><%= title %></title>
  <link href="<%= "docco.css" %>"
        rel="stylesheet"
        type="text/css"
        media="screen, projection"/>
</head>
<body>
<div id="docco-index">
  <h1><%= title %></h1>
  <ul>
  <% _(dirs).each(function(files, dir) { %>
    <li>
      <p><%= dir %></p>
      <ul>
        <% _(files).each(function(file) { %>
          <li><a href="<%= file %>.html"><%= file %></a></li>
        <% }) %>
      </ul>
    </li>
  <% }) %>
  </ul>
</div>
</body>
</html>